@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 5px;
    background:#fff ;
    /* padding: 2px; */
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background:gray;
    border-radius: 20px;
    width: 5px;
}